<!DOCTYPE HTML>
<html>
<head>
<#include "/adminPage/common.html"/>
<style type="text/css">
.layui-form-label {
	width: 150px;
}

.layui-input-block {
	margin-left: 180px;
}

.path {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #CFFFBF;
	max-width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.value {
	display: inline-block;
	margin-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #BFDFFF;
	max-width: 300px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.liteBtn {
	width: 100px;
}

.blk {
	display: inline-block;
	width: 105px;
	text-align: right;
}

.blk2 {
	display: inline-block;
	width: 40px;
}

.descr{
	color: teal;
}

.layui-icon {
	cursor: pointer;
}

.blue {
	font-weight: bolder;
}

.short {
	width: 120px;
}

.long {
	width: 300px;
	display: inline-block;
}

#paramList td {
	padding-left: 5px !important;
	padding-right: 5px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	height: 110px;
}
</style>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">

		<#include "/adminPage/header.html"/>
		<#include "/adminPage/menu.html"/>

		<div class="layui-body">
			<!-- 内容主体区域 -->
			<div style="padding: 15px">
				<fieldset class="layui-elem-field layui-field-title">
					<legend>${menuStr.site}</legend>
				</fieldset>

				<form action="${ctx}/adminPage/server" id="searchForm" method="post">
					<div class="layui-form">
						<div class="layui-inline">
							<button type="button" class="layui-btn layui-btn-normal" onclick="add()">${siteStr.add}</button>
						</div>
<!--						<div class="layui-inline">-->
<!--							<button type="button" class="layui-btn layui-input-inline" onclick="openImport()">${serverStr.importServer}</button>-->
<!--						</div>-->

						<div class="layui-inline">
							<button type="button" class="layui-btn layui-btn-normal" onclick="testPort()">${serverStr.testPort}</button>
						</div>

						<div class="layui-inline">
							<input type="text" name="keywords" class="layui-input" value="${keywords}">
						</div>

						<button type="button" class="layui-btn" onclick="search()">${commonStr.search}</button>


						<input type="hidden" name="sort" id="sort" value="${sort}">
						<input type="hidden" name="direction" id="direction" value="${direction}">
						<input type="hidden" name="curr" value="${page.curr}">
						<input type="hidden" name="limit" value="${page.limit}">
					</div>

					<table class="layui-table layui-form">
						<thead>
							<tr>
								<th>${siteStr.name}</th>
								<th>${siteStr.port}</th>
								<th>${siteStr.proxyAddress}</th>
								<th>${siteStr.isGzip}</th>
								<th>${siteStr.isZstd}</th>
								<th>${siteStr.redir}</th>
								<th>${commonStr.operation}</th>
							</tr>
						</thead>
						<tbody>
							<#list page.records as ext>
							<tr>
								<td>
									${ext.site.getName()}
								</td>
								<td>
									<span class="descr">${ext.site.getPort()}</span>
								</td>
								<td>
									${ext.locationStr}
								</td>
								<td>
									<#if ext.site.getIsGzip()==0>${commonStr.no}</#if>
									<#if ext.site.getIsGzip()==1>${commonStr.yes}</#if>
								</td>

								<td>
									<#if ext.site.getIsZstd()==0>${commonStr.no}</#if>
									<#if ext.site.getIsZstd()==1>${commonStr.yes}</#if>
								</td>
								<td>
									<#if ext.site.getIsRedir()==0>${commonStr.no}</#if>
									<#if ext.site.getIsRedir()==1>${ext.site.getRedirAddress()}</#if>
								</td>

								<td>
									<button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="preview('${ext.site.id}','site')">${commonStr.preview}</button>
									
									<button type="button" class="layui-btn layui-btn-sm" onclick="edit('${ext.site.id}', false)">${commonStr.edit}</button>
									<button type="button" class="layui-btn layui-btn-danger layui-btn-sm" onclick="del('${ext.site.id}')">${commonStr.del}</button>

								</td>
							</tr>
							</#list>
						</tbody>
					</table>
					<div id="pageInfo"></div>
				</form>
			</div>
		</div>
	</div>

	<div style="height: 0px; width: 0px; overflow: hidden;">
		<!-- 弹出框 -->
		<div class="layui-form" id="windowDiv" style="padding: 15px; display: none">
			<form id="addForm">
				<input type="hidden" id="id" name="id">

				<div class="layui-container">
					<div class="layui-row">
						<div class="layui-col-md4">
							<div class="layui-form-item">
								<label class="layui-form-label">
									${serverStr.listen}
									<span class="red">*</span>
								</label>
								<div class="layui-input-inline">
									<input type="text" name="ip" id="ip" class="layui-input" style="width: 125px; display: inline-block;" placeholder="${serverStr.ipDefault}">
									<input type="text" name="port" id="port" style="width: 60px; display: inline-block;" class="layui-input" placeholder="${serverStr.port}">
								</div>
							</div>

							<div class="proxyHttp">
								<div class="layui-form-item">
									<label class="layui-form-label">${siteStr.isZstd}</label>
									<div class="layui-input-inline">
										<select name="gzip" id="gzip">
											<option value="0">${commonStr.no}</option>
											<option value="1">${commonStr.yes}</option>
										</select>
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">${siteStr.isGzip}</label>
									<div class="layui-input-inline">
										<select name="zstd" id="zstd">
											<option value="0">${commonStr.no}</option>
											<option value="1">${commonStr.yes}</option>
										</select>
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">${siteStr.redir}</label>
									<div class="layui-input-inline">
										<select name="redir" id="redir" lay-filter="redir">
											<option value="0">${commonStr.no}</option>
											<option value="1">${commonStr.yes}</option>
										</select>
									</div>
								</div>
								<div class="layui-form-item" id="redirDiv" hidden>
									<label class="layui-form-label">${siteStr.redirAddress}</label>
									<div class="layui-input-inline">
										<input type="text" name="redirAddress" id="redirAddress" class="layui-input" style="width: 250px; display: inline-block;" placeholder="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="layui-form-item">
					<button type="button" class="layui-btn layui-btn-sm" style="margin-left: 195px;" onclick="siteParam()">${serverStr.extParm}</button>
					<textarea style="display: none;" id="siteParamJson" name="siteParamJson"></textarea>
				</div>

				<div class="layui-form-item">
					<button id="addParamBtn" type="button" class="layui-btn layui-btn-sm layui-btn-normal proxyHttp" onclick="addItem()">${serverStr.addLocation}</button>
				</div>

				<div class="layui-form-item proxyHttp" id="addToDiv">
					<table class="layui-table">
						<thead>
							<tr>
								<th>${serverStr.listenPath}</th>
								<th style="width: 550px;">${serverStr.proxyTarget}</th>
								<th>${commonStr.operation}</th>
							</tr>
						</thead>
						<tbody id="itemList" class="itemList">

						</tbody>
					</table>
				</div>


				<div class="layui-form-item">
					<button type="button" class="layui-btn layui-btn-normal" onclick="addOver()">${commonStr.submit}</button>
					<button type="button" class="layui-btn" onclick="layer.closeAll()">${commonStr.close}</button>
				</div>
			</form>
		</div>

		<div id="paramJsonDiv" style="display: none; padding: 15px;">
			<div class="layui-form-item">
				<button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="addParam()">${serverStr.addParm}</button>

				<button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="selectTemplate('paramList')">${serverStr.addTemplate}</button>
				<button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="selectTemplateAsParam('paramList')">${serverStr.addTemplateAsParam}</button>
		
			</div>
			<div class="layui-form-item">
				<input type="hidden" id="targertId">
				<table class="layui-table">
					<thead>
						<tr>
							<th>${commonStr.name}</th>
							<th>${commonStr.value}</th>
							<th style="width: 170px;">${commonStr.operation}</th>
						</tr>
					</thead>
					<tbody id="paramList">

					</tbody>
				</table>
			</div>

			<div class="layui-form-item">
				<button type="button" class="layui-btn layui-btn-normal" onclick="addParamOver()">${commonStr.submit}</button>
				<button type="button" class="layui-btn" onclick="layer.close(paramIndex)">${commonStr.close}</button>
			</div>
		</div>


		<div class="layui-form" id="descrDiv" style="padding: 15px; display: none">
			<input type="hidden" id="serverId" name="serverId">
			<div class="layui-form-item">
				<div class="layui-input-inline" style="width: 100%">
					<textarea type="text" id="descr" name="descr" class="layui-textarea">
					
					</textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<button type="button" class="layui-btn layui-btn-normal" onclick="editDescrOver()">${commonStr.ok}</button>
				<button type="button" class="layui-btn" onclick="layer.closeAll()">${commonStr.close}</button>
			</div>
		</div>
		
	</div>

	<#include '/adminPage/script.html'/>
	<#include '/adminPage/select_root.html'/>
	<#include '/adminPage/select_template.html'/>
	<#include '/adminPage/select_preview.html'/>
	<script src="${ctx}/js/adminPage/site/index.js?v=${jsrandom}" type="text/javascript"></script>
</body>


</html>